/dts-v1/;
/plugin/;

/ {
        compatible = "ti,beaglebone", "ti,beaglebone-black";
        part-number = "BB-TLC5940-01";

		/* state the resources this cape uses */
		exclusive-use =
				/* the pin header uses */
				"P9.25",	/* spi latch: gpio3_21 */
				/* the hardware IP uses */
				"gpio3_21",
				"spi1";

		fragment@0 {
				target = <&am33xx_pinmux>;
				__overlay__ {
						bone_tlc5940_spi1_pins: pinmux_bone_tl5940_spi1_pins {
								pinctrl-single,pins = <
										0x1ac 0x37	/* mcasp0_ahclkx.gpio3_21, RX_ENABLED | PULLUP | MODE7 */
								>;
						};
				};
		};

        fragment@1 {
              target = <&spi1>;
                __overlay__ {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        status    = "okay";
                        pinctrl-names   = "default";

                        tlc5940@0 {
                                compatible = "ti,tlc5940";
                                pinctrl-names = "tlc5940-xlat";
                                pinctrl-0 = <&bone_tlc5940_spi1_pins>;
								chain-sz = <16>;
								gpio-xlat = <&gpio3 21 1>;
                                reg = <0>; /* cs0 */
                                mode=<0>;
                                spi-max-frequency=<25000000>;
                        };
                };
        };
};
